
.header {
  display: flex;
  justify-content: flex-start;
  height: 5vh;
  justify-content: center;
  align-items: flex-start;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}

/** responsive design as well **/
.auth-form {
  max-width: 350px;
  width: 100%;
}

@media (min-device-width: 768px) and (max-device-width: 1440px) {
  .auth-container {
    padding: 5px;
  }
  .auth-form {
    padding-bottom: 200px;
  }

  .header {
    justify-content: baseline;
    margin: 50px;
    padding-top: 100px;
  }
}

